.input-input {
  height: 8rem;
  background-color: transparent;
  border: 1px solid var(--mantine-color-gray-9);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  height: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.name-input {
  border: 1px solid var(--mantine-color-gray-9);
  background-color: transparent;
  transition: all 0.1s ease;

  &:focus {
    border: 1px solid white;
    @mixin hover {
      border: 1px solid white;
    }
  }

  @mixin hover {
    border: 1px solid var(--mantine-color-gray-7);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  background-color: white;
  color: black;

  @mixin hover {
    background-color: white;
    color: black;
  }

  &[data-variant="outline"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  &[data-disabled="true"] {
    background-color: var(--mantine-color-gray-9);
  }
}
